[Unit]
Description=NVIDIA Persistence Daemon
Wants=syslog.target
After=nvidia-drivers.service

[Service]
Type=forking
ExecStart=/usr/bin/nvidia-persistenced --user root
ExecStopPost=/bin/rm -rf /var/run/nvidia-persistenced

[Install]
WantedBy=multi-user.target