[Unit]
# For more information see https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/cdi-support.html
Description=Generate /etc/cdi/nvidia.yaml to be used by Podman
# Must be done BEFORE the podman-restart.service or podman.service (if using API)
# since /etc/cdi/nvidia.yaml is used by podman to access GPU
Before=podman-restart.service podman.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/mkdir -p /etc/cdi
ExecStart=/bin/bash -c '/usr/bin/nvidia-ctk cdi generate > /etc/cdi/nvidia.yaml'
RemainAfterExit=yes
TimeoutStartSec=300

[Install]
WantedBy=basic.target
