body {
    font-family: "Courier New", Courier, monospace;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.input-text {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}

.file-drop-area {
    padding: 20px;
    border: 2px dashed #007bff;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: "Courier New", Courier, monospace;
}

.file-drop-area.drag-over {
    background-color: #e0f7ff;
}

.hidden-file-input {
    display: none;
}

.file-status {
    margin-top: 15px;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}

.status-indicator {
    font-weight: bold;
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
    font-family: "Courier New", Courier, monospace;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.log-container {
    margin-top: 20px;
    padding: 10px;
    height: 150px;
    text-align:left;
    line-height:0;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.file-list {
    list-style-type: none;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

.file-list li {
    margin-bottom: 5px;
}

.file-list a {
    text-decoration: none;
    color: #007bff;
}

.file-list a:hover {
    text-decoration: underline;
}
