[Unit]
# For more information see https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/cdi-support.html
# It looks like the podman/CDI integration wants a pre-generated list of hardware
Description=Generate /etc/cdi/nvidia.yaml
# Ensure that we're set up before containers may run
Before=basic.target

[Service]
Type=oneshot
ExecStart=nvidia-ctk cdi generate
RemainAfterExit=yes
StandardOutput=/etc/cdi/nvidia.yaml

[Install]
WantedBy=basic.target
